<style>
    
    a.slides       {
    /* a.text-blue-600     { */
        color: white !important;
        background-color: #313C71;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.slides:hover  {
        background-color: #536DFE;
        text-decoration: none !important;
    }

    a.notes       {
        color: white !important;
        background-color: #EF7F1A;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.notes:hover  {
        background-color: #FFB74D;
        text-decoration: none !important;
    }

    a.vibha       {
        color: white !important;
        background-color: #E0607E;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.vibha:hover  {
        background-color: #f2bfcb;
        text-decoration: none !important;
    }

    a.silsh       {
        color: white !important;
        background-color: #0FA3B1;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.silsh:hover  {
        background-color: #a1f0f7;
        text-decoration: none !important;
    }

    a.other       {
        color: white !important;
        background-color: #251605;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.other:hover  {
        background-color: #e0861f;
        text-decoration: none !important;
    }

    a.esa-papers       {
        color: white !important;
        background-color: #006622;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.esa-papers:hover  {
        background-color: #33ff77;
        text-decoration: none !important;
    }

    a.res       {
        color: white !important;
        background-color: #000099;
        text-decoration: none;
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: all 0.1s ease-in;
    }

    a.res:hover  {
        background-color: #3333ff;
        text-decoration: none !important;
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    (function() {
        $('span.slides-start').nextUntil('span.slides-end', 'a').addClass('pesu-slides');
    })();
</script>